---
title: Post Announcing Castle
published_date: 2023-09-10 19:00:00.801888762 +0000
layout: post.liquid
is_draft: false
---
<figure>
  <img src="/castle_screen.png"></img>
  <figcaption>Default view of the castle<figcaption>
</figure>

<p>This post announces the castle!</p>

<p>It's a castle made a long time ago, when WebGL was new. Now I have updated it for the current version of Three.js (which makes a lot of breaking changes...). Time to put it on this web site somehow.</p>

<div style="clear: both;"></div>
