---
title: First Paraforge Test Release
published_date: 2024-09-08 17:01:00.801888762 -0500
layout: post.liquid
excerpt: ""
is_draft: false
---
<figure>
  <img src="/pics/first-model-screen.webp"></img>
  <figcaption>Overview of the castle<figcaption>
</figure>

<p>I have published the first semi-functional versions of <a href="/projects/paraforge.html">Paraforge</a> to npm! (0.1.0 was published on 2 Sep 2024.) This is the very first test model that I used for most of the early development.</p>
