---
title: First Paraforge Test Release
published_date: 2024-09-08 17:01:00.801888762 -0500
layout: post.liquid
excerpt: ""
is_draft: false
---
<script type="importmap">
{
  "imports": {
    "paraforge.viewer": "/node_modules/paraforge/viewer.js",
    "three": "/node_modules/three/build/three.module.js",
    "three.GLTFLoader": "/node_modules/three/examples/jsm/loaders/GLTFLoader.js"
  }
}
</script>

<paraforge-viewer></paraforge-viewer>

<p>I have published the first semi-functional versions of <a href="/projects/paraforge.html">Paraforge</a> to npm! (0.1.0 was published on 2 Sep 2024.) This is the very first test model that I used for most of the early development.</p>

<script type="module">
import * as paraforge_viewer from 'paraforge.viewer'
for(let key in paraforge_viewer) window[key] = paraforge_viewer[key]

window.viewer = document.getElementsByTagName('paraforge-viewer')[0]

// Put stuff in scene
await viewer.init()
await viewer.paraforge.add_file('/first_model.py',
  '/paraforge-scripts/first_model.pf.py')
await viewer.paraforge.gen('first_model', 'first_model', [], {})
await viewer.update_scene()

function resizer() {
  const width = Math.min(viewer.parentNode.offsetWidth - 32, 600)
  viewer.width = width + 'px'
  viewer.height = width/1.6 + 'px'
}
window.addEventListener('resize', resizer)
resizer()
</script>
