---
title: An Ancient Lego Castle
published_date: 2024-09-08 17:00:00.801888762 +0000
layout: post.liquid
excerpt_separator: <!-- END EXERPT -->
is_draft: false
---
<figure>
  <img src="/pics/castle_screen.png"></img>
  <figcaption>Overview of the castle<figcaption>
</figure>

<p>I have an old 3D model based on a Lego castle that I made as a kid, which I frequently use as a test model. Lately I've used it a lot to test the 3D viewer I'm making for <a href="/projects/paraforge.html">Paraforge</a>, and I hope to translate it to a Paraforge script soon. I even <a href="https://vrchat.com/home/content/worlds/wrld_439af623-238c-4dfe-94a6-f98285556bf7">uploaded it to VRChat</a> a while back!</p>

<!-- END EXERPT -->

<p>Based on <a href="https://github.com/Densaugeo/Densaugeo.github.io/commit/f645d4d55e8a8105073b825d39bf46fb14d8cca3">the commit logs for my old personal site</a> it looks like I first posted it online on 4 Mar 2016. Since then I've used it for a lot of debugging - the multitude of breakages that happen when updating Three.js, the intricacies of iOS compatibility with accelerometer events, the numerous breaking changes with new Three.js versions, new security requirements and breaking changes in the gamepad API, Three.js rearranging everything down to the meaning of color values, learning web components, and whatever Three.js decided to break lately.</p>

<p>Now I'm making a web site (mainly so I have somehwere to demo Paraforge), so naturally the first post I make is for the old castle.</p>
