body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 1.42857143;
  background: #000;
  margin: 0;
  padding: 0;
  width: 100%;
}

/**
 * Navbar - Simple navbar with just a collections of links. First link is highlighted
 * 
 * <nav class="button_nav">
 *   <a>First Tab</a>
 *   <a>Tab Two</a>
 *   <a>Tab Three</a>
 *   <a>Tab Four</a>
 * </nav>
 */
.button_nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, #444 0, #222 100%);
}
.button_nav > a,
.button_nav > a:visited {
  float: left;
  height: 20px;
  line-height: 20px;
  padding: 15px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}
.button_nav > a:first-child {
  color: #0ff;
  font-size: 20px;
}
.button_nav > a.active {
  color: #0ff;
  background-image: linear-gradient(to bottom, #444 0, #244 100%);
}
.button_nav > a:hover,
.button_nav > a:focus,
.button_nav > a:hover:first-child,
.button_nav > a:focus:first-child {
  color: #0f0;
  background-image: linear-gradient(to bottom, #444 0, #242 100%);
}

/* Content */
a {
  color: #0ff;
}
a:visited {
  color: #c0f;
}

body > div {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
}
@media (min-width: 1280px) {
  body > div {
    margin-left: calc(50% - 600px);
    margin-right: calc(50% - 600px);
  }
}
@media (min-width: 500px) and (not (min-width: 1280px)) {
  body > div {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media not (min-width: 500px) {
  body > div {
    margin-left: 15px;
    margin-right: 15px;
  }
}

/**
 * Text Panels
 * 
 * <div class="button_panel">
 *   <h*>
 *     <a>Title</a> <- May be an <a> tag or plain text
 *   </h*>
 *   <div class="button_panel_body">
 *     <p>Content</p>
 *   </div>
 * </div>
 */
.button_panel > h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 20px;
  color: #0ff;
  line-height: 1;
  font-weight: bold;
}
.button_panel_body {
  margin: 10px 0;
  border: 1px solid;
  border-radius: 8px;
  border-color: #0ff;
  background: rgba(0, 0, 0, 0.7);
}
.button_panel_body > p {
  margin: 16px;
}
.button_panel_body > figure {
  float: left;
  margin: 16px;
  max-width: 400px;
}
.button_panel_body > figure > img,
.button_panel_body > figure > a > img {
  width: 100%;
}
.button_panel_body > figure > figcaption {
  color: #ccc;
}
/**
 * Text wells
 * 
 * <div class="button_well">
 *   <p>Content</p>
 * </div>
 */
.button_well {
  border: 1px solid #fff;
  border-radius: 8px;
  background-image: linear-gradient(to bottom, rgba(96, 96, 96, 0.3) 0px, rgba(0, 0, 0, 0.3) 100%);
  box-shadow: 0px 0px 2px #fff inset;
}
.button_well > p {
  margin: 16px;
}
