---
layout: default.liquid
title: Den's Projects
---
<div class="button_panel">
  <h4>
    <a href="/projects/castle.html">Castle</a>
  </h4>
  <div class="button_panel_body">
    <figure>
      <img src="/castle_screen.png"></img>
      <figcaption>Default view of the castle<figcaption>
    </figure>
    
    <p>A WebGL castle. Navigable by keyboard, gamepad, or smartphone. Features a number of custom shaders as well.</p>
    
    <div style="clear: both;"></div>
  </div>
</div>
