---
layout: default.liquid
title: Den's Projects
---
<div class="button_panel">
  <h4>
    <a href="/projects/paraforge.html">Paraforge</a>
  </h4>
  <div class="button_panel_body">
    <figure>
      <img src="/pics/first-model-screen.webp"></img>
      <figcaption>A basic test model in Paraforge's viewer<figcaption>
    </figure>
    
    <p>A procedural modeling tool I am making. Code is on <a href="https://github.com/Densaugeo/paraforge/">GitHub</a>.</p>
    
    <div style="clear: both;"></div>
  </div>
</div>
<div class="button_panel">
  <h4>
    <!--<a href="/projects/castle.html">-->Castle (Down for Updates)<!--</a>-->
  </h4>
  <div class="button_panel_body">
    <figure>
      <img src="/pics/castle_screen.png"></img>
      <figcaption>Default view of the castle<figcaption>
    </figure>
    
    <p>A WebGL castle. Navigable by keyboard, gamepad, or smartphone. Features a number of custom shaders as well.</p>
    
    <p>Currently down while I figure out how to either move it to the same viewer Paraforge uses or package the viewer it currently uses.</p>
    
    <div style="clear: both;"></div>
  </div>
</div>
