<meta charset="utf-8">
<meta name="color-scheme" content="dark">
<meta name="viewport" content="width=device-width, user-scalable=no">
<!-- Media queries for favicons currently don't work in FF but they have a
     ticket for it: https://bugzilla.mozilla.org/show_bug.cgi?id=1790109 -->
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32-dark.png"
  media="(prefers-color-scheme: dark)">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32-light.png"
  media="(prefers-color-scheme: light)">

<title>{{ page.title }}</title>

<script type="text/javascript">
// Frame buster
if(top !== self) top.location.replace(self.location.href)

// Add CSS class for highlighting current tab in nav bar
window.addEventListener('load', () => {
  let nav = document.querySelector('nav')
  
  for(let element of nav.children) {
    if(window.location == element.href) {
      element.classList.add('active')
    }
  }
  
  if(window.location.pathname == '/') {
    nav.children[0].classList.add('active')
  }
}, { once: true })
</script>

<link href="/buttonui.css" rel="stylesheet" />
